<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'C:\Users\Shah\RECO2\personal\static\mycss.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Medicine Prescription</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" style="background-color:white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-success" href="http://127.0.0.1:8000/reco/">RECO</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsiblenavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/reco/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/reco/pharmacy/">Pharmacy</a></li>
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/reco/contactus/">Contact us</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/reco/privacy/">Privacy Policy</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/reco/disclaimer/">Disclaimer</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if  done == 'no' %}
                    <li class="nav-item"><a class="nav-link"
                                            onclick="document.getElementById('signup_id_div').style.display = 'block'"
                                            href="#">
                        Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            onclick="document.getElementById('login_id_div').style.display = 'block'"
                                            href="#">
                        Login</a></li>
                {% else %}
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="signup_id_div">
    <button onclick="document.getElementById('signup_id_div').style.display = 'none'" id="close_button"><i
            class="fa fa-times" aria-hidden="true"></i></button>

    <form method="get" action="{% url 'Authentication' %}">
        <h4 class="user_name">User Name: </h4>

        <input class="input_signup_name_id" type="text" placeholder="  Enter your Name " name="fname1" required>

        <h4 class="user_name">EmailID: </h4>


        <input class="input_signup_name_id" type="email" placeholder="  Enter your Email Id" name="fname2" required>
        <h4 class="user_name">Password:</h4>

        <input class="input_signup_name_id" type="password" placeholder="  Enter Password" name="fname3" required>
        <h4 class="user_name">Confirm Password: </h4>

        <input class="input_signup_name_id" type="password" placeholder="  Confirm Password" name="fname4" required>

        <center><input class="button_submit_Signup_id" type="submit" value="submit"></center>
    </form>
    <br><br>
</div>


<div class="container-fluid" id="login_id_div">
    <button onclick="document.getElementById('login_id_div').style.display = 'none'" id="close_button_login"><i
            class="fa fa-times" aria-hidden="true"></i></button>
    <form method="get" action="{% url 'login' %}">
        <h4 class="user_name">User Name: </h4>

        <input class="input_signup_name_id" type="text" placeholder="   Enter your Name" name="fname5" required>

        <h4 class="user_name">Password: </h4>
        <input class="input_signup_name_id" type="password" placeholder="  Enter Password" name="fname6" required>
        <center><input onclick="document.getElementById('login_id_div').style.display = 'none'"
                       class="button_submit_Signup_id" type="submit" value="submit"></center>
        <br><br>
    </form>
</div>

<div id="body_id_2" onclick="closeSignup(), closeLogin()">
    <div style="clear: both"></div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6 content">
        <h3 class="col-md-10  text-success">Still Taking Doctor's Appointment For Pain Relief?</h3>
        <p class="col-md-8">Here you can get free prescripted medicine for your symptoms. It is as simple as taking
            medicine. Click on how it works to know..</p>
        <a href="#hr">
            <button class="col-xs-6 btn btn-warning">How it works</button>
        </a>
        <a href="http://127.0.0.1:8000/reco/contactus/">
            <button class="col-xs-6 btn btn-warning">Contact us</button>
        </a>
    </div>
    <div class="col-md-4 slide1">
        <img src="{% static 'shutterstock_149856014.jpg' %}" alt="doctor_img" width="100%" height="50%">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote text-info">
            <p class="mb-0">"Prevention is better than cure"</p>
            <footer class="blockquote-footer"><cite title="Source Title">Every Doctor</cite></footer>
        </blockquote>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr id="hr">
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <img src="{% static 'Doctors-And-Nurses-PNG-Image-55479.png' %}" class="img-fluid rounded" alt="doctor_img"
                 width="100%" height="100%">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 result" id="xyz" class="form">
            <form class="form=control" action="{% url 'result' %}">
                <div class="form-group">
                    <label for="sym">Enter Symptoms: </label>
                    <input type="text" id="tags" name="sym" class="form-control"
                           placeholder="Alzimer">
                </div>
                <div class="form-group">
                    <label for="multiple">Multiple Input: </label>
                    <input type="text" name="multiple" class="form-control" id="multiple" placeholder="Cold, Fever">
                </div>
                <div class="form-group">
                    <label for="multiple">Gender: </label>
                    <label class="radio-inline">
                        <input type="radio" name="gen1">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gen1">Female
                    </label>
                </div>
                <button class="btn btn-success" type="submit" name="result">Display Result</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container-fluid" id="pqr">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center; color: mediumseagreen">Medicines</h2>
            <br><br>
            <p>You searched for:<strong>{{ query }}</strong></p>
            {% if medicine %}
                <p>Found {{ medicine|length }} Medicine{{ medicine|pluralize }}</p>
                <ul style="font-size: larger">
                    {% for med in medicine %}
                        <li>{{ med.medicine }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No medicine match your criteria</p>
            {% endif %}
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote text-info">
            <p class="mb-0">"Laughter is the best medicine"</p>
            <footer class="blockquote-footer"><cite title="Source Title">anonymous</cite></footer>
        </blockquote>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="pharm">
                <h3 class="col-md-8 text-success">Trouble in Finding Nearest Pharmacy?</h3>
                <p class="col-md-8">When you visit some unknown places and fall sick. No problem</p>
                <p class="col-md-8">Click here to find nearest to you.</p>
                <a href="http://127.0.0.1:8000/reco/pharmacy/">
                    <button class="btn btn-warning">Find Pharmacy</button>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <br>
        <div class="col-md-5">
            <img src="{% static '2565__MG_0320_19lh5p73jb.jpg' %}" alt="doctor_img" class="img-fluid rounded"
                 width="100%" height="100%">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote text-info">
            <p class="mb-0">"The best doctor gives the least medicines"</p>
            <footer class="blockquote-footer"><cite title="Source Title">Benjamin Franklin</cite></footer>
        </blockquote>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<footer class="page-footer font-small indigo pt-0">
    <div class="container">
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="http://127.0.0.1:8000/reco/">Home</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="http://127.0.0.1:8000/reco/pharmacy/">Pharmacy</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="http://127.0.0.1:8000/reco/contactus/">Contact Us</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="http://127.0.0.1:8000/reco/privacy/">Privacy Policy</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="http://127.0.0.1:8000/reco/disclaimer/">Disclaimer</a>
                </h6>
            </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">RECO is a Recommendation Web
                    Application which prescribes medicines on the basis of their symptoms or diseases.
                    Nowadays, to visit a doctor for treatment is a time consuming due to rush of patients in clinic.
                    To filter out this problem, we are introducing a web app which help people to get through the
                    medicines
                    for the disease they are suffering.</p>
            </div>
        </div>
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        <p>Created By : </p>
        <kbd>Shah Moksh | Saumya Vora | Alap Tekadpande</kbd>
    </div>
</footer>
<script type="text/javascript">
    function funcpqr() {
        document.getElementById("pqr").style.display = "block";
        document.getElementById("xyz").style.display = "none";
    }
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
    function signup_1() {
        document.getElementById("signup_1").style.display = "block"
        document.getElementById("").style.display = "none"
    }

    function login_1() {
        document.getElementById("login_1").style.display = "block"
        document.getElementById("").style.display = "none"
    }

</script>

<script type="text/javascript">
    $(function () {
        var array = [];
        {% for med in a %}
            console.log('{{ med.symptoms }}');
            array.push('{{ med.symptoms }}');
        {% endfor %}
        $("#tags").autocomplete({
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(array, request.term);
                response(results.slice(0, 4));
            }
        });
    })
</script>
</body>
</html>
